/*CSS reset*/
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
    font-family: sans-serif;
}

body {
    font-family: inherit;
}

/*Variables de colores*/
:root {
   /*Definir variables globales*/
}

.App {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#fff, #333);
  background-size: cover;
 
  /*Flex to center items*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}